<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
    <title>Inventura API</title>
  </head>
  <body>
    <h1>Inventura API is working...</h1>

    <table>
      <tbody>
        <tr>
          <th>GET</th>
          <th>POST</th>
        </tr>
        <tr>
          <td>
            /ping <br />
            /artikli_lista <br />
            /barcode/&lt;art_ean&gt; <br />
            /artikal/&lt;pdok_art&gt; <br />
            /pretraga/&lt;art_ean&gt; | &lt;pdok_art&gt; <br />
            /lookup/&lt;art_ean&gt; <br />
          </td>
          <td>/update</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
